doc/
/lib/
lljvm-*.jar
lljvm-demo-*.jar
lljvm-doc-*.zip
lljvm-backend
*~
Session.vim

#gradle files
build/
.gradle/

#ctags
tags

#vim swap
*.swp

#eclipse project files
#regenerate with `gradle eclipse`
.classpath
.settings/
.project
bin/
